<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fallingBall">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.example.fallingBall.MainActivity"
            android:screenOrientation="portrait"> <!--Fixes the phone in portrait mode -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.fallingBall.ChooseLevel"
            android:parentActivityName="com.example.fallingBall.ChoosePlayer"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.fallingBall.Options"
            android:parentActivityName="com.example.fallingBall.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.fallingBall.ChoosePlayer"
            android:parentActivityName="com.example.fallingBall.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.fallingBall.GameScreen"
            android:parentActivityName="com.example.fallingBall.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.fallingBall.theGame.MainGame"
            android:parentActivityName="com.example.fallingBall.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.fallingBall.GameOverScreen"
            android:screenOrientation="portrait"/>
    </application>

</manifest>